<h1>Create a New Discount</h1>

<%= form_tag "/merchant/#{@merchant.id}/discounts", method: :post do %>
  <p><%= label_tag :name %>
  <%= text_field_tag :name %></p>

  <p><%= label_tag :percentage %>
  <%= number_field_tag :percentage, nil, min: 1, max: 99 %></p>

  <p>The threshold is the quantity of a single item required for the discount
  to be activated.</p>

  <p><%= label_tag :threshold %>
  <%= number_field_tag :threshold, nil, min: 5, max: 99 %></p>

  <%= submit_tag 'Create Discount' %>
<% end %>
